.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40%;
	background-color: green ;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: white;
}

.modal-header {
	background-color: green;
}
